# Análise de Dados - UFPB

**Professor** : Marcus Carvalho

Aluno: [Jose carlos Junior]

## Laboratório: Manipulação de Dados

Nesta atividade prática, você deve usar a biblioteca Pandas de Python para exercitar a manipulação dados.
O dataset usado como exemplo será de notas de alunos em algumas turmas ofertadas para o curso de Sistemas de Informação da UFPB.
A tabela tem duas colunas: `disciplina` e `nota`. Cada linha representa a nota final de um aluno que cursou a disciplina em uma turma.
Por exemplo, se a disciplina "SISTEMAS DISTRIBUIDOS" teve 30 alunos, existirão 30 linhas com o par `<SISTEMAS DISTRIBUIDOS, nota_do_aluno>`, sendo uma para cada aluno.

Carregue e manipule os dados para responder as questões. Tente usar apenas código para responder as questões nos blocos de código.

### Carregamento dos dados

Para iniciar, importe as bibliotecas necessárias e carregue o arquivo `dados/exemplo_notas_si.csv` usando o Pandas e imprima o DataFrame para entender o formato dos dados.

In [112]:
import pandas as pd
url = "https://github.com/analisededados-ufpb/lab-manipulacao-dados/raw/main/dados/exemplo_notas_si.csv"
df = pd.read_csv(url)
print(df)

                disciplina  nota
0          ADMINISTRAÇÃO I   7.7
1          ADMINISTRAÇÃO I   7.0
2          ADMINISTRAÇÃO I   5.5
3          ADMINISTRAÇÃO I   2.6
4          ADMINISTRAÇÃO I   5.1
..                     ...   ...
637  SISTEMAS OPERACIONAIS   7.5
638  SISTEMAS OPERACIONAIS   6.5
639  SISTEMAS OPERACIONAIS   1.2
640  SISTEMAS OPERACIONAIS   7.3
641  SISTEMAS OPERACIONAIS   7.0

[642 rows x 2 columns]

### Filtragem de dados

Com base na tabela de notas dos alunos, aplique alguns filtros e ordenação nos dados.

#### Mostre apenas as linhas com as notas igual a 10

In [113]:
df[df.nota == 10]

                                  disciplina  nota
62         ALGORITMOS E ESTRUTURA DE DADOS I  10.0
144    DESENVOLVIMENTOS DE SIST CORPORATIVOS  10.0
153    DESENVOLVIMENTOS DE SIST CORPORATIVOS  10.0
206                       ETICA PROFISSIONAL  10.0
215                       ETICA PROFISSIONAL  10.0
216                       ETICA PROFISSIONAL  10.0
220                       ETICA PROFISSIONAL  10.0
223                       ETICA PROFISSIONAL  10.0
231                       ETICA PROFISSIONAL  10.0
232                       ETICA PROFISSIONAL  10.0
233                       ETICA PROFISSIONAL  10.0
236                       ETICA PROFISSIONAL  10.0
237                       ETICA PROFISSIONAL  10.0
238                       ETICA PROFISSIONAL  10.0
305                 INTRODUCAO A PROGRAMACAO  10.0
318                 INTRODUCAO A PROGRAMACAO  10.0
322                 INTRODUCAO A PROGRAMACAO  10.0
514  PESQUISA APLIC A SISTEMAS DE INFORMACAO  10.0

#### Mostre apenas as notas da disciplina "SISTEMAS DISTRIBUIDOS", ordenadas da maior para a menor nota

In [125]:
notas = df[df.disciplina == 'SISTEMAS DISTRIBUIDOS']
notas.sort_values('nota', ascending=False)

                disciplina  nota
608  SISTEMAS DISTRIBUIDOS   9.6
604  SISTEMAS DISTRIBUIDOS   9.4
605  SISTEMAS DISTRIBUIDOS   9.2
610  SISTEMAS DISTRIBUIDOS   9.2
611  SISTEMAS DISTRIBUIDOS   9.0
616  SISTEMAS DISTRIBUIDOS   8.2
614  SISTEMAS DISTRIBUIDOS   7.9
617  SISTEMAS DISTRIBUIDOS   7.9
612  SISTEMAS DISTRIBUIDOS   7.5
615  SISTEMAS DISTRIBUIDOS   7.3
619  SISTEMAS DISTRIBUIDOS   7.2
606  SISTEMAS DISTRIBUIDOS   7.1
618  SISTEMAS DISTRIBUIDOS   5.8
613  SISTEMAS DISTRIBUIDOS   5.6
607  SISTEMAS DISTRIBUIDOS   5.4
609  SISTEMAS DISTRIBUIDOS   5.3

### Média geral das disciplinas

Crie um novo dataframe que agrupe os dados por disciplina e aplique uma função de agregação que calcule a **média** geral das notas de cada disciplina.
Cada disciplina terá apenas uma linha com o seu nome e média das notas de todos os alunos daquela disciplina.
Exiba o dataframe para visualizar se deu certo.

In [135]:
df["disciplina"]
df_mediaGeral = df.groupby(["disciplina"]).mean()
df_mediaGeral.sort_values('nota', ascending=False)

                                             nota
disciplina
ETICA PROFISSIONAL                       9.715789
PESQUISA APLIC A SISTEMAS DE INFORMACAO  9.166667
INTRODUCAO AO COMPUTADOR                 8.538462
INTRODUCAO A PROGRAMACAO                 8.410811
ALGORITMOS E ESTRUTURA DE DADOS I        8.319048
METODOLOGIA CIENTÍFICA                   8.228571
SISTEMAS DE APOIO A GESTÃO               8.221053
PORTUGUES INSTRUMENTAL                   8.192308
PROBABILIDADE E ESTATISTICA              8.030435
ENGENHARIA DE SOFTWARE APLICADA          7.911111
AUDITORIA E SEGURANCA DE SISTEMAS        7.762500
SISTEMAS DISTRIBUIDOS                    7.600000
PROGRAMACAO ORIENTADA A OBJETOS          7.558824
GESTÃO DA QUALIDADE DE SOFTWARE          7.420000
REDES DE COMPUTADORES                    7.275000
ADMINISTRAÇÃO I                          7.070000
INTRODUCAO A SOCIOLOGIA                  7.056098
DESENVOLVIMENTOS DE SIST CORPORATIVOS    7.044000
BANCO DE DADOS I                         6.662069
ALGEBRA LINEAR E GEOMETRIA ANALITICA     6.465000
SISTEMAS OPERACIONAIS                    6.250000
INTELIG ARTIFICIAL E SIST ESPECIALISTAS  6.005263
MATEMÁTICA ELEMENTAR                     5.490476
INTRODUÇÃO À ÁLGEBRA LINEAR              4.526316
ESTATÍSTICA                              3.515789

#### Qual disciplina teve a maior média?

In [136]:
df["disciplina"]
df_mediaMaior = df.groupby(["disciplina"]).mean()
(
  df_mediaMaior.sort_values('nota', ascending=False)
  .head(1)
)

                        nota
disciplina
ETICA PROFISSIONAL  9.715789

#### Qual disciplina teve a menor média?

In [137]:
df["disciplina"]
df_mediaMaior = df.groupby(["disciplina"]).mean()
(
  df_mediaMaior.sort_values('nota', ascending=True)
  .head(1)
)

                 nota
disciplina
ESTATÍSTICA  3.515789

### Quantidade de alunos por disciplina

Crie um novo dataframe que calcule a quantidade de alunos por disciplina.

In [138]:
df["disciplina"]

(
  df.groupby(["disciplina"]).agg(['count'])
)

                                         nota
                                        count
disciplina
ADMINISTRAÇÃO I                            40
ALGEBRA LINEAR E GEOMETRIA ANALITICA       20
ALGORITMOS E ESTRUTURA DE DADOS I          21
AUDITORIA E SEGURANCA DE SISTEMAS          24
BANCO DE DADOS I                           29
DESENVOLVIMENTOS DE SIST CORPORATIVOS      25
ENGENHARIA DE SOFTWARE APLICADA            27
ESTATÍSTICA                                19
ETICA PROFISSIONAL                         38
GESTÃO DA QUALIDADE DE SOFTWARE            30
INTELIG ARTIFICIAL E SIST ESPECIALISTAS    19
INTRODUCAO A PROGRAMACAO                   37
INTRODUCAO A SOCIOLOGIA                    41
INTRODUCAO AO COMPUTADOR                   39
INTRODUÇÃO À ÁLGEBRA LINEAR                19
MATEMÁTICA ELEMENTAR                       42
METODOLOGIA CIENTÍFICA                     35
PESQUISA APLIC A SISTEMAS DE INFORMACAO    15
PORTUGUES INSTRUMENTAL                     13
PROBABILIDADE E ESTATISTICA                23
PROGRAMACAO ORIENTADA A OBJETOS            17
REDES DE COMPUTADORES                      12
SISTEMAS DE APOIO A GESTÃO                 19
SISTEMAS DISTRIBUIDOS                      16
SISTEMAS OPERACIONAIS                      22

#### Qual disciplina teve a maior quantidade de alunos?

In [141]:
df["disciplina"]
df_media = df.groupby(["disciplina"]).count()

(
    df_media.sort_values('nota', ascending=False)
    
    .head(1)
)

                      nota
disciplina
MATEMÁTICA ELEMENTAR    42

#### Qual disciplina teve a menor quantidade de alunos?

In [165]:
df["disciplina"]
df_media = df.groupby(["disciplina"]).count()

(
    df_media.sort_values('nota', ascending=True)
    
    .head(1)
)

                       nota
disciplina
REDES DE COMPUTADORES    12

### Percentual de aprovados por disciplina

Crie um novo dataframe que calcule o percentual de alunos por disciplina, considerando que a nota mínima para aprovação é 5.

In [181]:

df_media.groupby(["disciplina"]).mean()
df[df.nota >= 5]

                disciplina  nota
0          ADMINISTRAÇÃO I   7.7
1          ADMINISTRAÇÃO I   7.0
2          ADMINISTRAÇÃO I   5.5
4          ADMINISTRAÇÃO I   5.1
5          ADMINISTRAÇÃO I   8.2
..                     ...   ...
636  SISTEMAS OPERACIONAIS   6.2
637  SISTEMAS OPERACIONAIS   7.5
638  SISTEMAS OPERACIONAIS   6.5
640  SISTEMAS OPERACIONAIS   7.3
641  SISTEMAS OPERACIONAIS   7.0

[574 rows x 2 columns]

#### Qual a disciplina com a maior taxa de aprovação?

In [133]:
# INSIRA SEU CÓDIGO AQUI

#### Qual a disciplina com a menor taxa de aprovação?

In [134]:
# INSIRA SEU CÓDIGO AQUI